body{
    font-family: 'Work Sans', sans-serif;
}

.pink{
    color: #9B51E0;
}

#about-us .long-text{
    margin: 0 100px 0 0;
}

#about-us .msg{
    font-size: 46px;
    font-weight: bold;
}

#about-us .small-text{
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0;
}

#about-us .text{
    margin: 0 0 0 150px;
    line-height: 3;
}

#footer{
    background: rgba(0, 0, 0, 0.62);
    color: white;

}

#footer p{
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #dbdbdb;
}

#footer h2{
    font-size: 26px;
    font-weight: bold;
}

#footer .contato{
    margin: 90px 0 70px 0;
    padding-left: 50px;
}

#footer .sobre{
    margin: 90px 0 0 0;
}

#footer .sobre a{
    text-decoration: none;
}

#footer .social img{
    margin: 30px 15px 0 0 ;
    cursor: pointer;
}

#footer .techplay{
    margin: 70px 70px 40px 90px;
}

#footer .techplay h1{
    font-size: 62px;
    line-height: 2;

}

#home{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(94, 127, 177, 0) 100%);
}

#home .main-msg{
    margin-left: 250px;
    margin-top: 150px;
    font-size: 80px;
    font-weight: bold;
    width: 1000px;
    height: 200px;
}

#home .nav-link{
    color: #EBFFFD;

    font-size: 14px;
    margin: 5px 30px;

}

#home .small-msg{
    font-size: 20px;
    margin-left: 250px;
    width: 550px;

}

#home .start-image{
    width: 579px;
    height: 626px;
}



#our-products .camera-body{
    position: relative;
    top: -100px;
}

#our-products .card{
    margin-left: 20%;
    border: none;
    border-radius: 0;
    width: 378px;
    height: 378px;
}

#our-products .card-area{
    margin: 150px 50px;
}

#our-products .card-background-purple{
    background: rgba(0, 9, 234, 0.2);
}

#our-products .card-background-purple:hover{
    background: rgba(0, 9, 234, 0.3);
    cursor: pointer;
}


#our-products .card-background-gray{
    background: rgba(30, 30, 30, 0.1);
}

#our-products .card-background-gray:hover{
    background: rgba(30, 30, 30, 0.2);
    cursor: pointer;
}

#our-products .card-img-top{
    position: relative;
    bottom: 100px;
}

#our-products .lower-area{
    margin-top: 100px;
}

#our-products .monitor-body{
    position: relative;
    top: -30px;
}

#our-products .mouse-body{
    position: relative;
    top: 40px;
}

#our-products #mouse-img{
    left: -50px;
    width: 500px;
    height: 250px;
}

#our-products .msg{
    font-size: 46px;
    font-weight: bold;
}

#our-products .playstation-body{
    position: relative;
    top: 28px;
}

#our-products .products{
    margin-top: 110px;
}

#our-products .robot-body{
    position: relative;
    top: -50px;
}

#our-products .small-msg{
    margin: 40px 0 90px 0;
    font-size: 16px;
}



#our-team .card-img-top{
    width: 140px;
    height: 140px;
    border: 3px solid #9B51E0;
    border-radius: 100%;
}













@media (max-width: 990px)
/*vou começar mudar apartir desse colapso*/
{
    body{
        background-color: red;
    }
}




















