body{
    font-family: 'Work Sans', sans-serif;
}

.msg{
    font-size: 46px;
    font-weight: bold;
    text-align: center;
}

.pink{
    color: #9B51E0;
}

.small-text{
    font-size: 25px;
    font-weight: bold;

}

#about-us{
    width: 80%;
    margin: auto;
}

#footer{
    background: rgba(0, 0, 0, 0.62);
    color: white;

}

#footer p{
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #dbdbdb;
}

#footer h2{
    font-size: 26px;
    font-weight: bold;
}

#footer .contato{
    margin: 90px 0 70px 0;
    padding-left: 50px;
}

#footer .sobre{
    margin: 90px 0 0 0;
}

#footer .sobre a{
    text-decoration: none;
}

#footer .social img{
    margin: 30px 15px 0 0 ;
    cursor: pointer;
}

#footer .techplay{
    margin: 70px 70px 40px 90px;
}

#footer .techplay h1{
    font-size: 62px;
    line-height: 2;

}

#home{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(94, 127, 177, 0) 100%);
}

#home .main-msg{
    margin-left: 250px;
    margin-top: 150px;
    font-size: 80px;
    font-weight: bold;
    width: 1000px;
    height: 200px;
}

#home .nav-link{
    color: #EBFFFD;

    font-size: 14px;
    margin: 5px 30px;

}

#home .small-msg{
    font-size: 20px;
    margin-left: 250px;
    width: 550px;
}

#home .start-image{
    width: 579px;
    height: 626px;
}



#our-products .camera-body{
    position: relative;
    top: -100px;
}

#our-products .card{
    margin-left: 20%;
    border: none;
    border-radius: 0;
    width: 378px;
    height: 378px;
}

#our-products .card-area{
    margin: 150px 50px;
}

#our-products .card-background-purple{
    background: rgba(0, 9, 234, 0.2);
}

#our-products .card-background-purple:hover{
    background: rgba(0, 9, 234, 0.3);
    cursor: pointer;
}

#our-products .carousel{
    width: 90%;
    margin: auto;
}


#our-products .card-background-gray{
    background: rgba(30, 30, 30, 0.1);
}

#our-products .card-background-gray:hover{
    background: rgba(30, 30, 30, 0.2);
    cursor: pointer;
}

#our-products .card-img-top{
    position: relative;
    bottom: 100px;
}

#our-products .lower-area{
    margin-top: 100px;
}

#our-products .monitor-body{
    position: relative;
    top: -30px;
}

#our-products .mouse-body{
    position: relative;
    top: 40px;
}

#our-products #mouse-img{
    left: -50px;
    width: 500px;
    height: 250px;
}

#our-products .msg{
    font-size: 46px;
    font-weight: bold;
}

#our-products .playstation-body{
    position: relative;
    top: 28px;
}

#our-products .products{
    margin-top: 110px;
}

#our-products .robot-body{
    position: relative;
    top: -50px;
}

#our-products .small-msg{
    margin: 40px 0 90px 0;
    font-size: 16px;
}


#our-team .big-text{
    padding: 70px;
    text-align: center;
}


#our-team .card{
    align-items: center;
    border: none;
    height: 420px;
    text-align: center;
    margin: 0 auto 50px auto;
    width: 60%;
}

#our-team .card-img-top{
    width: 140px;
    height: 140px;
    border: 3px solid #9B51E0;
    border-radius: 100%;
}

#our-team .card-img-top:hover{
    cursor: pointer;
}

#our-team .card-title{
    font-weight: bold;
}

#our-team .card-title:hover{
    color: #9B51E0;
    cursor: pointer;
}

#our-team .fa-brands{
    margin: 0 5px;
}

#our-team .fa-brands:hover{
    color: #9B51E0;
    cursor: pointer;
}

#our-team .long-msg{
    font-size: 16px;
    line-height: 2;
    margin: 0;
    text-align: center;
}

#our-team .purple-area{
    background: rgba(0, 9, 234, 0.2);
    height: 20%;
    margin: 40px auto;
    width: 50%;
}

#our-team .row{
    width: 90%;
    margin: auto;
}

#our-team .social-img{
    bottom: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    width: 100%;
}













@media (max-width: 990px)
{


    #about-us .about-img{
        max-width: 300px;
        margin-right: 15px;
        float: right;
    }

    #about-us .text{
        margin: auto auto auto 90px;
        line-height: 1.5;
        float: left;
    }

    #about-us .long-text{
        width: 100%;
        margin: auto;
        text-align: center;
    }

    #about-us .small-text{
        width: 100%;
        margin: auto;
        text-align: center;
    }

    #footer .contato{
        margin: 20px auto;
        padding-left: 0;
    }


    #footer .techplay{
        margin: auto;
        text-align: center;
    }

    #footer .sobre{
        margin: 20px auto;
    }

    #our-products .card-area{
        margin: auto;
    }

    #our-products .card{
        margin: 60px auto;
        border: none;
        border-radius: 0;
        width: 378px;
        height: 378px;
    }

    #our-team .big-text{
        padding: 20px;
        text-align: center;
    }

    #our-team .purple-area{
        background: rgba(0, 9, 234, 0.2);
        height: 20%;
        margin: auto;
        width: 90%;
    }

}




















